<!DOCTYPE html>
<html lang="en" ng-app="module1">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS</title>
    <script src="angular.min.js"></script>
    <script src="script1.js"></script>
</head>

<body ng-controller="controller1">
    <div>
        TwoWay Binding - ng-model
        <h3>Welcome {{name}}</h3>
        <input type="text" placeholder="Enter your Name" ng-model="name">
    </div>
    <hr>
    <div>
        ng-repeat - Table
        <table>
            <thead>
                <th>Name</th>
                <th>Role</th>
                <th>Salary</th>
            </thead>
            <tbody>
                <tr ng-repeat="emp in emps">
                    <td>{{emp.name}}</td>
                    <td>{{emp.role}}</td>
                    <td>{{emp.salary}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div>
        ng-repeat - list
        <ul>
            <li ng-repeat="country in countries"> {{country.name}}
                <ul>
                    <li ng-repeat="city in country.cities">{{city.name}}</li>
                </ul>
            </li>
        </ul>
    </div>
    <hr>
    <!-- <div>
        <table>
            <thead>
                <tr>
                    <th>Post</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>optioins</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="insta in instagram">
                    <td>{{insta.post}}</td>
                    <td>{{insta.likes}}</td>
                    <td>{{insta.dislikes}}</td>
                    <td><input type="submit" value="Like" ng-click="incLike(insta)"></td>
                    <td><input type="submit" value="DisLike" ng-click="incDisLike(insta)"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr> -->
    <div>
        <table>
            <thead>
                <tr>
                    <th>Post</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Like/DisLike</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="insta in instagram">
                    <td>{{insta.post}}</td>
                    <td>{{insta.like}}</td>
                    <td>{{insta.dislike}}</td>
                    <td><input type="submit" value="Like" ng-click="incLike(insta)">
                        <input type="submit" value="DisLike" ng-click="incDisLike(insta)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div>
        Number of rows : <input type="number" step="1" min="0" max="5" ng-model="rowlimit">
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DOJ</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="table in table | limitTo:rowlimit">
                    <td>{{table.name | uppercase}}</td>
                    <td>{{table.DOJ|date}}</td>
                    <td>{{table.salary |  currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>